<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--FONT AWESOME-->
    <script
      src="https://kit.fontawesome.com/f49c176164.js"
      crossorigin="anonymous"
    ></script>
    <!--CSS-->
    <link rel="stylesheet" href="\css\edit.css" />
    <title>Edit | BrooBlog</title>
  </head>
  <body>
    <%- include('_navbar'); %>

    <!--FORM-->
    <form
      action="/article/edit/<%= article.id %>/data"
      method="POST"
      id="editForm"
    >
      <h1 id="editHeaderTitle">Edit article</h1>
      <div id="editTitle">
        <p id="editTitleTag">title</p>
        <span>/</span>
        <input
          required
          type="text"
          value="<%= article.title %>"
          name="title"
          id="editTitleInput"
        />
      </div>
      <div id="editDescription">
        <p id="editDescriptionTag">description</p>
        <span>/</span>
        <input
          required
          type="text"
          value="<%= article.description %>"
          name="description"
          id="editDescriptionInput"
        />
      </div>
      <div id="editContent">
        <textarea required name="content" id="content">
<%= article.content %></textarea
        >
      </div>
      <button type="submit" id="editHeaderSubmit">Save</button>
    </form>
    <!--JS-->
    <script src="/js/edit.js"></script>
  </body>
</html>
