<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Software findings by Brook Nash. A simple blog to record everything software."
    />
    <!--OPEN GRAPH-->
    <meta
      name="og:title"
      property="og:title"
      content="Software findings by Brook Nash. A simple blog to record everything software."
    />
    <!--TWITTER CARD-->
    <meta
      name="twitter:card"
      content="Software findings by Brook Nash. A simple blog to record everything software."
    />
    <!--FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--ANIMATIONS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!--FONT AWESOME-->
    <script
      src="https://kit.fontawesome.com/f49c176164.js"
      crossorigin="anonymous"
    ></script>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="./favicon.png" />
    <!--CSS-->
    <link rel="stylesheet" href="\css\index.css" />
    <title>Home | BrooBlog</title>
  </head>
  <body>
    <%- include('_navbar'); %>

    <!--HEADER-->
    <section id="indexHeader">
      <!--CSS-->
      <h1 id="indexTitle">Brook Nash</h1>
      <h2 id="indexSubtitle">
        Hey! I'm
        <a href="https://twitter.com/broobyte" target="_blank">@broobyte</a> and
        this is a place for me to talk about my software findings.
      </h2>
      <!--SEARCH-->
      <section id="indexSearch">
        <div id="indexSearchWrapper">
          <input
            type="text"
            placeholder="Search..."
            id="indexSearchInput"
            onkeyup="searchQuery()"
          />
          <i class="fa-solid fa-magnifying-glass" id="indexSearchIcon"></i>
        </div>
        <ul id="indexSearchResults">
          <% articles.forEach(article => { %>
          <li>
            <a href="article/<%= article.slug %>"><%= article.title %></a>
          </li>
          <% }) %>
        </ul>
      </section>
    </section>

    <!--RECENT-->
    <section id="indexRecent">
      <% articles.forEach(article => { %>
      <a href="article/<%= article.slug %>"
        ><div>
          <h1 id="indexRecentTitle"><%= article.title %></h1>
        </div></a
      >
      <% }) %>
    </section>

    <!--ALL-->
    <section id="indexAll">
      <h1 id="indexAllTitle">All Articles</h1>
      <section id="indexAllList">
        <% articles.forEach(article => { %>
        <a href="article/<%= article.slug %>" id="indexAllListTitle">
          <h3><%= article.title %></h3>
        </a>
        <% }) %>
      </section>
    </section>

    <!--JS-->
    <script src="/js/index.js"></script>
  </body>
</html>
