<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= article.description %>" />
    <!--OPEN GRAPH-->
    <meta
      name="og:title"
      property="og:title"
      content="<%= article.description %>"
    />
    <!--TWITTER CARD-->
    <meta name="twitter:card" content="<%= article.description %>" />
    <!--FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--ANIMATIONS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!--PRISM-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-tomorrow.min.css"
    />
    <!--FONT AWESOME-->
    <script
      src="https://kit.fontawesome.com/f49c176164.js"
      crossorigin="anonymous"
    ></script>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
    <!--CSS-->
    <link rel="stylesheet" href="\css\view.css" />
    <!--DEFAULT TARGET-->
    <base target="_blank" />
    <title><%= article.title %> | BrooBlog</title>
  </head>
  <body>
    <%- include('_navbar'); %>

    <!--MAIN-->
    <main id="view">
      <h1 id="viewTitle"><%= article.title %></h1>
      <h2 id="viewSubtitle"><%= article.description %></h2>
      <span id="viewDate"
        ><i class="fa-solid fa-calendar"></i> <%=
        article.createdAt.toLocaleDateString() %></span
      >
      <section id="viewContent"><%- article.sanitisedHTML %></section>
    </main>

    <%- include('_footer'); %>
    <!--JS-->
    <script src="/js/view.js"></script>
    <!--JS HIGHLIGHTING-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <!--PYTHON HIGHLIGHTING-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-python.min.js"></script>
  </body>
</html>
